@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoginViewModel

<div id="otpdiv" class="form-group">
    @*<label class="text-center">Register your account</label>*@
    <input id="otp" asp-for="OTP" class="form-control" placeholder="Enter OTP" />
    <span asp-validation-for="OTP" class="text-danger"></span>
</div>
<span class="text-danger">@ViewBag.ErrorRegister</span>
<div id="confirmdiv" class="form-group text-center">
    @if (LoginViewModel.ResendCounter <= 5)
    {
        <button id="btnconfirm" class="btn btn-lg btn-dark btn-block text-uppercase d-flex justify-content-center mt-3" type="submit" asp-action="ValidateOTP">CONFIRM</button>
    }
    @if (LoginViewModel.ResendCounter <= 3)
    {
        <button id="btnresend" class="btn btn-lg btn-dark btn-block text-uppercase d-flex justify-content-center mt-3" asp-action="SendOTP">RESEND OTP</button>
    }
</div>